
openapi: 3.0.0

info:
  title: Coffee Shop Ordering API
  description: API for submitting and managing orders for a coffee shop.
  version: 1.0.0

servers:
  - url: http://api.coffeeshop.com

paths:
  /orders:
    get:
      summary: Get all orders
      description: Returns a list of all orders.
      parameters:
        - name: status
          in: query
          description: Filter orders by status.
          schema:
            type: string
      responses:
        '200':
          description: List of orders.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
        '404':
          description: No orders found.

    post:
      summary: Submit an order
      description: Submits a new order.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewOrder'
      responses:
        '201':
          description: Order created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Invalid input.
        '500':
          description: Internal server error.

  /orders/{orderId}:
    get:
      summary: Get an order by ID
      description: Returns a specific order by ID.
      parameters:
        - name: orderId
          in: path
          description: ID of the order to retrieve.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Order details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          description: Order not found.

    put:
      summary: Update an order
      description: Updates an existing order.
      parameters:
        - name: orderId
          in: path
          description: ID of the order to update.
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrder'
      responses:
        '200':
          description: Order updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Invalid input or missing required fields.
        '404':
          description: Order not found.
        '409':
          description: Order has already been fulfilled and cannot be updated.

    delete:
      summary: Cancel an order
      description: Cancels an existing order.
      parameters:
        - name: orderId
          in: path
          description: ID of the order to cancel.
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Order cancelled.
        '404':
          description: Order not found.
        '409':
          description: Order has already been fulfilled and cannot be cancelled.
